* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	background-color: #fff5e1;
	color: #730022;
}

header {
    display: flex;
}

h1{
    
    font-size: 30px;
    text-align: left;
    
}